* {
  margin: 0;
  font-family: Montserrat;
}

.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.img-in-main-header {
  padding-left: 40px;
}

.main-header {
  display: grid;
  grid-template-columns: 440px 900px 100px;
}

.header-main-menu {
  margin-left: 35%;
}

.menu-class {
  float: left;
  margin-left: 20px;
}
